header{
    color: red;
    background-color: rgb(17, 17, 17);
    border-radius: 2em;
    padding-left: 1em;
}
body{
    background-color: black;
    width: 500px;
    margin: 0 auto;
}
button  {
    border-color: black;
    border-radius: 1em;
    width: 5em;
}
#fire{
    background-color: orange;
    border: 1px;
    float: bottom;
}
#fire:hover{
    background-color: orangered;
}
#reload{
    background-color: greenyellow;
    border: 1px;
    float: bottom
}
#reload:hover{
    background-color: green;
}
.gun{
    width: 300px;
    height: 300px;
    border-radius: 1em;
    float: right;
    margin-right: 10px;
}
.bullet{
    float: left;
    width: 5em;
    padding: 5px;
    border-radius: 3em;
    border-width: 1px;
    border-color: gray;
}
#respuesta{
    background-color: blue;
    width: 100px;
    height: 27px;
    border-radius: 1em;
    padding: 1%;
    position: relative;
    bottom: 52px;
    left: 70px;
    font-size: 80%;
    font-weight: bolder;
}

